[plugin]
id = "{{id}}"
name = "{{name}}"
version = "0.1.0"
api = "1"
description = "{{description}}"

[[contributes.credentials]]
id = "{{slug}}"
entry = "{{module}}.personas:Personas"

[[contributes.login]]
id = "{{slug}}-login"
entry = "{{module}}.login:Login"

[config]
password = { type = "secret", default = "", description = "shared persona password" }
